<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>装备备件管理服务软件</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/replace.css" />
  <link rel="stylesheet" href="/js/gmap/gmap.css" />
  <link rel="stylesheet" href="/plot/DrawHelper.css" />
  <link rel="stylesheet" href="/iconfont/iconfont.css" />
  <script src="/js/gmap/gmap.js"></script>
  <script src="/plot/H5DrawSymbol3.3.5.min.js"></script>
  <script src="/plot/H5SymbolView3.3.5.min.js"></script>
  <script src="/plot/lib/include-lib2.js?time=20180905" libpath="/plot/lib/" include="jquery,layer"></script>
</head>

<body>
<div id="root"></div>
</body>

</html>
